/* box-shadow */

.box-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* logo */

.logo {
    width: 245px;
}

@media (max-width:375px) {
    .header .logo {
        width: 147px;
    }
}

/* deco */

.deco {
    margin-bottom: 160px;
}

@media (max-width:767px) {
    .deco {
        margin-bottom: 120px;
        img {
            width: 117px;
        }
    }
}

/* button (based on BS5)*/

.btn-start {
    @extend .btn;
    @extend .btn-outline-primary;
    @extend .fw-bolder;
    @extend .px-7;
    @extend .py-4;
    @extend .fs-5;
}

.btn-filter {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .px-7;
    @extend .py-4;
    @extend .rounded-4;
    border: 1px solid $light-gray; // Project variable
}

/* filter-menu */

.filter {
    position: relative;
    .filter-menu {
        position: absolute;
        z-index: 10;
        @extend .bg-white;
        @extend .px-7;
        @extend .py-4;   
        @extend .rounded-4;
    }
}


/* search-bar */

.search {
    position: relative;
    &-bar {
        width: 100%;
        @extend .bg-secondary;
        @extend .px-9;
        @extend .py-4;
        @extend .rounded-4;
        border: 1px solid $light-gray; // Project variable
    }
    .material-icons {
        color: $gray;
        position: absolute;
        top: 20px;
        left: 43px;
    }
}

/* ai-card */

.ai-card {
    height: 100%;
    @extend .card;
    @extend .overflow-hidden;
    @extend .border-secondary;
    img:hover {
        transform: scale(1.2);
        transition: transform 0.5s;
    }
    .card-info {
        color: $dark-gray; // Project variable
        font-size: $font-size-sm; // BS variable
    }
    .card-section {
        @extend .d-flex;
        @extend .justify-content-between;
        @extend .px-6;
        @extend .py-4;
        border-top: 1px solid $light-gray; // Project variable
        .material-icons {
            @extend .d-block;
        }
    }
}

/* pagination */

.pagination {
    gap: 4px;
    a {
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        width: 48px;
        height: 48px;
        font-size: $font-size-sm; // BS variable
        border-radius: 16px;
        &:hover {
            background: $black;  // BS variable
            color: $white;  // BS variable
        }
    }
    .material-icons {
        font-size: $font-size-sm; // BS variable
    }
}
