/* vendors */

@import "vendors/bootstrap/bootstrap.scss";

/* utils */

@import "utils/variable";

/* base */

@import "base/base";

/* componenets */

@import "components/animation";
@import "components/buttons";
@import "components/card";
@import "components/components";
@import "components/images";
@import "components/inputs";
@import "components/pagination";

/* layout */

@import "layout/layout";


/* pages */

@import "pages/index";
@import "pages/pricing";
