/* pagination */

.pagination {
    gap: 4px;
    .page {
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        font-size: $font-size-sm; // BS variable
        line-height: 1;
        padding: 17px;
        border-radius: 16px;
        &:hover{
            background: $light-gray; // Project variable
        }
        &.active {
            cursor: default;
            background: $black; // BS variable
            color: $white; // BS variable
            &:hover{
                opacity: 1;
            }
        }
        .material-icons {
            font-size: $font-size-sm; // BS variable
        }
    }
}
